.custom-radio {
    position: relative;
    width: 100%;
}

.custom-radio__field:checked + .custom-radio__label {
    background-color: #AD8361;
    color: #FFF;
}

.custom-radio__label {
    display: flex;
    justify-content: center;
    align-items: center; 
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid #AD8361;
    color: #AD8361;
    cursor: pointer;
    user-select: none;
    margin-top: -1px;
    margin-right: -1px;
}



.custom-radio__text {
   font-weight: 400;
   font-size: 12px;
   line-height: 14px;
   color: inherit; 
}

.custom-radio__field:hover + .custom-radio__label  {
    color: #090909;
}

.custom-radio__field:focus-visible + .custom-radio__label   {
   background-color: #EFEDE7; 
   color: #AD8361;
}